<script>

    import {min,max} from 'd3-array';
    import {scaleLinear} from 'd3-scale';

    export let data=[]
    export let leaf_height=0;
    export let leaf_width=0;
    
    let xScale = scaleLinear().domain([167,0]).range([0,leaf_width]);
    let yScale_electricity = scaleLinear().domain([min(data,d=>d.total_electrity),max(data,d=>d.total_electrity)]).range([leaf_height,0]);
    let yScale_gas = scaleLinear().domain([min(data,d=>d.total_gas),max(data,d=>d.total_gas)]).range([0,leaf_height]);

    let pathGenerator_electric = (d) => {
        let path ="M 167,"+ yScale_electricity(0);
        d.forEach((value,idx) => {
             path += " " + xScale(idx) + ','+ yScale_electricity(value)
         })
         path += " " + xScale(167) + "," + yScale_electricity(0)
        return path;
    }

    let pathGenerator_gas = (d) => {
        let path ="M 0,"+ yScale_gas(0);
        d.forEach((value,idx) => {
             path += " " + xScale(idx) + ','+ yScale_gas(value)
         })
         path += " " + xScale(167) + "," + yScale_gas(0)
        return path;
    }

</script>
<style>

</style>
<g transform="rotate(19)">
    <path d={pathGenerator_electric(data.map(d=>d.total_electrity))} fill="#0569ff" ></path>
    <g transform="translate(0,50)">
        <path d={pathGenerator_gas(data.map(d=>d.total_gas))} fill="#ffb005" ></path>
    </g>
</g>