<script>
    import {scaleLinear} from 'd3-scale';
    import {max} from 'd3-array';

    export let data=[];
    export let build_height=0;
    export let col="";
    export let scal;
    export let yScale_all;

    let xScale;
    let yScale_in;
    let width=700;

    $: xScale = scaleLinear().domain([0,744]).range([0,width]);

    $: ran_par = max(data,d=>d.total_heating_energy);

    $: yScale_in = scaleLinear().domain([0,ran_par]).range([build_height,0]);

    let pathGenerator_in = (d) => {
        let path ="M 0,"+ yScale_in(0);
        d.forEach((value,idx) => {
             path += " " + xScale(idx) + ','+ yScale_in(value)
         })
         path += " " + xScale(744) + "," + yScale_in(0)
        return path;
    }

    let pathGenerator_all = (d) => {
        let path ="M 0,"+ yScale_all(0);
        d.forEach((value,idx) => {
             path += " " + xScale(idx) + ','+ yScale_all(value)
         })
         path += " " + xScale(744) + "," + yScale_all(0)
        return path;
    }

</script>
<style>
    path {
        stroke: none;
        fill-opacity: 0.9;
    }

</style>
<g transform="translate(200,8)">
    {#if scal=="all"}
    <path d={pathGenerator_all(data.map(d=>d.total_heating_energy))} fill={col} ></path>
    {:else}
    <path d={pathGenerator_in(data.map(d=>d.total_heating_energy))} fill={col} ></path>
    {/if}
</g>
