<script>
    import { max,extent } from 'd3-array';
    import {scaleLinear} from 'd3-scale';
    import {lineRadial} from 'd3-shape';

    export let data=[];

    $: daily = scaleLinear().domain(extent(data.map(d=>d.day_of_year))).range([0,2*Math.PI]);
    $: scaleRadius_heating = scaleLinear().domain([0,max(data,d=>d.heating)]).range([0,80]);
    $: radial_heating = lineRadial().angle(d=>daily(d.day_of_year)).radius(d=>scaleRadius_heating(d.heating));
    
    $: scaleRadius_cooling = scaleLinear().domain([0,max(data,d=>d.cooling)]).range([0,80]);
    $: radial_cooling = lineRadial().angle(d=>daily(d.day_of_year)).radius(d=>scaleRadius_cooling(d.cooling));
</script>
<style>
path {
        
        fill-opacity: 0.2;
    }
</style>

<path d={radial_heating(data)} stroke="red" fill="red"></path>
<path d={radial_cooling(data)} stroke="blue" fill="blue"></path>
