<script>
  import Line_single from './_design_1_line.svelte';
  import {schemeTableau10} from 'd3-scale-chromatic';
  import {scaleOrdinal,scaleLinear} from 'd3-scale'
  import {max} from "d3-array";

  export let data=[];
  export let scal;

  const width = 900;
  const height = 800;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const build_height = 40;

  const color = scaleOrdinal(schemeTableau10).domain(Object.keys(data));

  $: buildings = data.map(d=>d.buildingtype)
  $: building_list = [...new Set(buildings)]

  $: ran_all = max(data,d=>d.total_heating_energy)

  $: yScale_all = scaleLinear().domain([0,ran_all]).range([build_height,0]);
</script>
<style>

    svg {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    }    
</style>

<svg {width} {height}>
     {#each building_list as build_type,build_idx}
     <g transform="translate(0,{(10+build_height)*build_idx})">
      <text transform="translate(0,45)">{build_type}</text>
      <Line_single data={data.filter(d => (d.buildingtype==build_type))} {build_height} col = { color(build_type)} {scal} {yScale_all}/>   
     </g>
     {/each}
</svg>
