<script>
export let city = "Baltimore";
export let sele="all";

</script>
<style>

</style>
<b>Location</b>
<label>
	<input type=radio bind:group={city} value={"Baltimore"}>
	Baltimore
</label>

<label>
	<input type=radio bind:group={city} value={"Chicago"}>
	Chicago
</label>

<label>
	<input type=radio bind:group={city} value={"Los Angeles"}>
	Los Angeles
</label>


<b>Scaling</b>

<label>
	<input type=radio bind:group={sele} value={"all"}>
	across all building types
</label>

<label>
	<input type=radio bind:group={sele} value={"in"}>
	Within building types
</label>