<script>
  import { onMount } from "svelte";
  import Leaves_even from "./_design_3_leaves_even.svelte";
  import Leaves_odd from "./_design_3_leaves_odd.svelte";
  
  // Size and margins
  const width = 600;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const leaf_height = 40;
  const leaf_width = 167;

  // Loading data
  let design_3_data=[];
  onMount(async () => {   
  const dataTemp = await fetch('/data/hourly_electricity_vs_gas_december.json');   
  design_3_data = await dataTemp.json();  }); 

  $: weeks = design_3_data.map(d=>d.week)
  $: weeks_list = [...new Set(weeks)]

</script>

<svg {width} {height}>
  <text class="head" x=200 y=30>Chicago 2014</text>
  <g transform="translate({margin.left}, {100+margin.top})">
    <!--  -->
    {#each weeks_list as week,idx}
      {#if idx%2==0}
      <text x={450} y={300-80*idx} fill="red">Week {idx+1}</text> 
      <g transform="translate({250},{330-80*idx})">
        <Leaves_even data={design_3_data.filter(d => d.week==week)} {leaf_height} {leaf_width}/> 
      </g>
      <polyline points="250,{140+80*idx} 250,{60+80*idx} 400,{10+80*idx}"></polyline>
      {:else}
      <text x={0} y={277-80*idx} fill="red">Week {idx+1}</text> 
      <g transform="translate({100},{277-80*idx})">
        <Leaves_odd data={design_3_data.filter(d => (d.week==week))} {leaf_height} {leaf_width}/>
      </g>
      <polyline points="250,{140+80*idx} 250,{60+80*idx} 100,{10+80*idx}"></polyline>
      {/if}
    {/each}
    <!-- <rect x= 500 y=350 width=100 height=100 fill="transparent" stroke="black"></rect> -->
    <text x={500} y={400} fill="#0569ff">Electricity</text>
    <text x={500} y={430} fill="#ffb005">Gas</text>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

  polyline {
    fill:none; 
    stroke: black; 
    stroke-width: 1;
  }

  text {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .head {
    font-size: 35px;
    font-family: cursive;
    color: black;
  }
</style>
