<script>
  import { onMount } from "svelte";
  import Controls from "./_design_1_controls.svelte";
  import Lineplot from "./_design_1_lineplot.svelte";
  
  let city_sel="Baltimore";
  let scal;

  // loading the dataset
  let design_1_data=[];
  

  onMount(async () => {   
  const dataTemp = await fetch('/data/hourly_heating_december.json');   
  design_1_data = await dataTemp.json();  }); 

</script>

<div>
  <Controls bind:city={city_sel} bind:sele={scal} />
  <Lineplot data={design_1_data.filter(d => (d.city==city_sel))} {scal}/>
</div>



