<script>
  import { onMount } from "svelte";
  import Round from "./_design_2_rounds.svelte";
  
  
  // Size and margins
  const width = 900;
  const height = 350;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let design_2_data=[];
  onMount(async () => {   
  const dataTemp = await fetch('/data/daily_heating_cooling.json');   
  design_2_data = await dataTemp.json();  }); 


  $: cities1 = design_2_data.map(d=>d.city)
  $: cities = [...new Set(cities1)]

</script>

<svg {width} {height}>
  <text x=20 y=300 fill="blue">Cooling</text>
  <text x=20 y=320 fill="red">Heating</text>
  {#each cities as city,city_idx}
  <g transform="translate({150+300*(city_idx)},{height/2})">
    <!--  -->
    <text x=-30 y=-130 style="font-family: sans-serif;">{city}</text>
    <text x=0 y=-105>0</text>
    <text x=105 y=0>3</text>
    <text x=0 y=120>6</text>
    <text x=-120 y=0>9</text>
    <circle cx=0 cy=0 r=100/>
    <Round data={design_2_data.filter(d => (d.city==city))}/>
    <line x1=0 x2=0 y1=-100 y2=100 stroke="black" ></line>
    <line y1=0 y2=0 x1=-100 x2=100 stroke="black" ></line>
    <!-- <text x={300*(city_idx)} y={height/2} fill="red">{city}</text>  -->
    
  </g>
  {/each} 
</svg>

<style>
  
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  circle {
    fill: white;
    stroke:black;
  }
</style>
