
<script>
  let current = "";
</script>

<style>
  .newcl {
    background-color:blue;
  }

  button {
  color: white;
	background-color: gray;
	padding: 5px 15px;
	border-radius: 7px;
}
</style>

<!-- We will cover buttons in week 7! -->
<button class:newcl={current=="messi"} on:click={() => (current = "messi")}>
  Messi
</button>

<button class:newcl={current=="ronaldo"} on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class:newcl={current=="neymar"} on:click={() => (current = "neymar")}>
  Neymar
</button>
