<script>
  // Properties
  export let year=0;
  export let selected="all";
  const continents = ["europe", "asia", "americas", "africa"];
  let bun ="Start";
  let timer_on=0;
  let timeout;

  function change_year(){
      if (year != 214) {
        year += 1
      } else {
        year=0
      }
      timeout= setTimeout(change_year,50);
  }

  function handleStart(){
    bun ="Stop";
    if (!timer_on) {
      timer_on = 1;
      change_year();
    }
  }

  function handleStop(){
    bun="Start";
    clearTimeout(timeout);
    timer_on=0;
  }

  function handleReset(){
    year=0;
    selected="all";
    bun="Start";
    clearInterval(timeout);

  }

</script>

<div class="row">
  <!--  -->
  <div class="col-4">
    {#if bun=="Start"}
     <button on:click={handleStart} type="button" class="btn btn-primary">{bun}</button>
    {:else}
      <button on:click={handleStop} type="button" class="btn btn-primary">{bun}</button>
    {/if}
    <button on:click={handleReset} type="button" class="btn btn-primary">Reset</button>
  </div>
  <div class="col-5">
    <label class="form-label col-sm-10">
      Year: {year+1800}
      <input bind:value={year} type="range" class="form-range" min="0" max="214" step="1">
    </label>
  </div>
  <div class="col-3">
    <select bind:value={selected} class="form-select">
      <option value="all">all</option>
      {#each continents as continent}
      <option value={continent}>{continent}</option>
      {/each}
    </select>
  </div>
</div>
