<script>
    let count = 0;
    function handleClick(event){
        count += 1;
    }
    function reset(event){
        count=0;
    }
</script>

<button on:click={handleClick} type="button" class="btn btn-primary">Clicked {count} times</button>
<button on:click={reset} type="button" class="btn btn-danger">Reset</button>