<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  let year_thi=0;
  let selection="all";
  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    {#if selection=='all'}
      <Scatterplot data={data[year_thi]['countries']} />
    {:else}
      <Scatterplot data={data[year_thi]['countries'].filter(d =>d.continent==selection)} />
    {/if}
    <Controls bind:year={year_thi} bind:selected={selection} />
  </div>
{/if}
