<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";


  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });

  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };

  let local_sel=[];
  let local_sel2=[];
  let global_sel=[];

  $: global_sel = local_sel.map((s,i)=>{
    //console.log("local 1: "+s+" for"+i);
    //console.log("local 2: "+local_sel2[i]+" for"+i);
    //console.log("global : "+ (local_sel2[i]==true && s==true)+" for"+i);
    return local_sel2[i]==true && s==true
  });


</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Scatter bind:loc_sel={local_sel} {global_sel} {data} {...s1} />
  <Scatter bind:loc_sel={local_sel2} {global_sel} {data} {...s2} />
{/if}
