<script>
  import { scaleLinear, scaleLog, scaleOrdinal } from 'd3-scale';
  import {axisBottom, axisLeft} from 'd3-axis';
	import {select} from 'd3-selection';
  import {extent} from 'd3-array'
  import {schemeSet2} from 'd3-scale-chromatic'

  export let my_data=[];

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const scaY=  scaleLinear().range([innerHeight, 0]).domain([0,90]);
	const scaX = scaleLog().range([0, innerWidth]).domain([300,150000]);
  const pop = scaleLinear().range([5, 10]).domain(extent(my_data, d => d['population']));
  const color=scaleOrdinal().domain(extent(my_data,x => x['continent'])).range(schemeSet2)
  const yaxis= axisLeft(scaY);
	const xaxis =axisBottom(scaX).tickValues([400, 4000, 40000]).tickFormat(d => ("$"+d));
	
  function xAxis(g){
    return xaxis(select(g));
  };

  function yAxis(g){
    return yaxis(select(g));
  };

</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->
    {#each my_data as point}
    {#if point.income >0 && point.life_exp > 0 }
    <circle cx={scaX(+point['income'])} cy={scaY(+point['life_exp'])} r={pop(+point['population'])} fill={color(point['continent'])} opacity=0.7 />
    {/if}
    {/each}
  </g>
  <g use:xAxis transform="translate({margin.left}, {innerHeight+margin.top})">
    <text x=270 y=40 class="rotate"> GDP per Capita </text>
  </g>
	<g use:yAxis transform="translate({margin.left}, {margin.top})">
	  <text x=-147.5 y=-32 class="rotate" transform="rotate(-90)"> Life Expectancy </text>
  </g>
  <text x=515 y=335 font-size= 2.2em opacity=0.4> 1800 </text>
  <text x=150 y=50 font-size= 2.25em > Gapminder Scatterplot </text>
</svg>

<style>
  text.rotate {
  text-anchor: middle;
	display: inline-block;
	fill: currentcolor;
  font-size: 1.75em;
}
</style>
