<script>
  import { scaleLog } from 'd3-scale';
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  var cal=scaleLog().domain([1,10]).range([0,innerWidth]);

  function xAxis(g){
    var xaxis = axisBottom(cal).tickValues([1,2,3,4,5,6,7,8,9,10]);
    xaxis(select(g));
  }
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <!--  -->
  <g use:xAxis transform="translate(0,70)">
    {#each values as value}
    <circle cx= {cal(value)} cy=-35 r=10 fill="steelblue"/>
    {/each}
    <text x="395" y="25" fill="currentcolor">x label</text>
   </g> 
  </g>
</svg>

<style>
  text {
    text-anchor:"middle";
  }
</style>

