<script>
  import {scaleLinear, scaleOrdinal} from 'd3-scale';
  import {schemeDark2} from 'd3-scale-chromatic';
  import {extent} from 'd3-array';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const scaX = scaleLinear().domain([0,10]).range([0,innerWidth]);
  const scaY = scaleLinear().domain([0,3]).range([innerHeight,0]);
  const levels = extent(values, d=>d.category)
  const color = scaleOrdinal(schemeDark2);
  color.domain(levels);

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <!--  -->
    {#each values as value }
    <line x1={scaX(value.x)} y1={scaY(value.y)} x2={scaX(value.x)} y2={innerHeight} />
    <circle cx= {scaX(value['x'])} cy={scaY(value['y'])} r=5 fill={color(value['category'])}/>
    <text class=valueLabel x={scaX(value['x'])} y={scaY(value['y'])-10}> {value['y']} </text>
    {/each}
  </g>
  <line x1=0 y1={innerHeight+20} x2={innerWidth} y2={innerHeight+20} />
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
  line {
    stroke:black;
    stroke-width:1;
  }
</style>
