<script>
import {scaleBand, scaleLinear} from 'd3-scale';
import {axisBottom,axisLeft} from 'd3-axis';
import {select} from 'd3-selection';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  const scaX = scaleBand().domain(data.map((d) => d['service'])).range([0,innerWidth]).padding(0.1);
  const scaY = scaleLinear().domain([0,3]).range([innerHeight,0]);
  const xaxis = axisBottom(scaX);
  const yaxis = axisLeft(scaY);

  function xAxis(g){
    return xaxis(select(g));
  };

  function yAxis(g){
    return yaxis(select(g));
  };

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <!--  -->
      {#each data as data_one }
      <rect x={scaX(data_one['service'])} y={scaY(data_one['viewers'])} height={innerHeight - scaY(data_one['viewers'])} width={scaX.bandwidth()} fill="teal"/>
      {/each}
  </g>
  <g use:xAxis transform="translate({margin.left},{innerHeight+margin.top})">
  </g>
  <g use:yAxis transform="translate({margin.left},{margin.top})">
    <text x=-100 y=-40>Viewers(Million)</text>
  </g>
</svg>


<style>
text {
  text-anchor: middle;
  transform: rotate(-90deg);
  fill: currentcolor;
}

</style>