<script>
import { onMount } from 'svelte';
import {json} from 'd3-fetch';
import Ex_7_scatterplot from "./_ex_7_scatterplot.svelte"

let my_data = null;

onMount(async () => {
  var data = await json('/data/gapminder.json');
  my_data=data[0]['countries'];
});

</script>

{#if my_data==null}
<text>Loading data</text>
{:else}
<Ex_7_scatterplot my_data={my_data}/>
{/if}

